.backgroundImage {
background:url("https://c1.staticflickr.com/7/6141/6189890255_d99c9036fd_b.jpg");
}
h1 {
    color: white;
    text-align: center;
}
body {
  background-color: black;
}
h2 {
    color: black;
    text-align: center;
}
img{
  image-
}
p{
  color:white;
  font-size: 24px;
  text-align: justify;
}
